-#  This file is app/views/movies/find_similar_movies.html.haml
%h1 Find Movies with same director than #{@titl}
%h1 Director: #{@direc}

%table#movies
  %thead
    %tr
      %th{:class => @title_header} Movie Title
      %th Rating
      %th{:class => @date_header} Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Back to all movies', movies_path
